<div class="main">
  <div class="container">
      <div class="signup-content">
          <div class="signup-img">
              <img src="../assets/images/tax.jpg" alt="">
          </div>
          <div class="signup-form">
              <form method="POST" class="register-form" id="register-form">
                  <h2>Tax Calculator</h2>
                  <div class="form-row">
                      <div class="form-group">
                          <label for="txtexperience">Experience in No Of Years :</label>
                          <input type="number" [(ngModel)]="experienceInYears"  name="txtexperience" ng required/>
                      </div>
                
                  </div>
                  <div class="form-row">
                  <div class="form-group">
                    <label for="txtprofession">Profession :</label>
                    <div class="form-select">
                        <select name="txtprofession"  [(ngModel)]="professionId">
                            <option value=""></option>
                            <option value="1">Developer</option>
                            <option value="2">Teacher</option>
                            <option value="3">Cachier</option>
                        </select>
                        <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                    </div>
                  </div>
                  </div>
                  <div class="form-row">
                  <div class="form-radio">
                      <label for="location" class="radio-label">Location :</label>
                      <div class="form-radio-item">
                          <input type="radio" name="location" id="stockholm" [(ngModel)]="locationId" [value]="1">
                          <label for="stockholm">Stockholm</label>
                          <span class="check"></span>
                      </div>
                      <div class="form-radio-item">
                          <input type="radio" name="location" id="gothernberg" [(ngModel)]="locationId" [value]="2">
                          <label for="gothernberg">Gothernberg</label>
                          <span class="check"></span>
                      </div>
                  </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group">
                          <label for="year">Income Year :</label>
                          <div class="form-select">
                              <select name="year" id="year" [(ngModel)]="incomeYear">
                                  <option value=""></option>
                                  <option value="2019">2019</option>
                                  <option value="2020">2020</option>
                              </select>
                              <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                          </div>
                      </div>
                  
                  </div>
                

      
                  <div class="form-submit">
                      <input type="button" value="CalculateTax" class="submit" name="submit" id="submit"
                       (click)="onCalculateSalary()"  />
                      
                  </div>

                  <div class="form-row">
                    Salary After Tax :&nbsp; <span class="afterTax"> {{salaryAfterTax}}</span> 
                  </div>
              </form>
          </div>
      </div>
  </div>

</div>